<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-bookmark"></i> Todo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/page1" routerActiveLink="active">page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/page2/hello" routerActiveLink="active">page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/page3" routerActiveLink="active">page 3</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
        </li> -->
       
      </ul>
    </div>
    <button 
        class="btn m-1" 
        [ngClass]="{
          'btn-outline-success' : !authService.isAuth,
          'btn-outline-danger' : authService.isAuth
        }"
        (click)="authService.isAuth = !authService.isAuth"
        > {{authService.isAuth ? 'Logout' : 'Login'}}</button>
  </div>
</nav>